<html>
{% extends "layout.html" %}
{% block content %}
<h2 style="color:blue">Face Recognition</h2>
    {% if facial_expression %}
      <img src="{{facial_expression['image_public_url']}}" width=500 height=400>
      <p style="color:blue">{{facial_expression['blob_name']}} uploaded on: {{facial_expression['timestamp']}}.</p>
      <p style="color:blue">Joy Likelihood: {{facial_expression['joy']}}</p>
      <p style="color:blue">Anger Likelihood: {{facial_expression['angry']}}</p>
      <p style="color:blue">Suprise Likelihood: {{facial_expression['suprise']}}</p>
    {% endif %}
<a href="{{ url_for('home') }}">Click here for Homepage</a>
{% endblock %}
</html>
