<h1>GIPHY Face Detection</h1>

<br>

<html>
  <body>
    <form role="form" method="POST" action="/word">
            Enter the word: 
              <input type="text" name="word" class="form-control"  placeholder="Enter a word" style="max-width: 300px;"><br>
            
       <button type="GIF" class="btn btn-default">GIF</button>
     </form>
       <br>
          {% for error in errors %}
            <h4>{{ error }}</h4>
          {% endfor %}
          <br>
     <form action="upload_photo" method="POST" enctype="multipart/form-data">
      Upload File: <input type="file" name="file"><br>
      <input type="submit" name="submit" value="Submit">
    </form>
    {% if entity %}
      <img src="{{entity['image_public_url']}}" width=200 height=200>
      <p>{{entity['blob_name']}} was uploaded {{entity['timestamp']}}.</p>
      <p>Joy Likelihood for Face: {{entity['joy']}}</p>
      <p>angry Likelihood for Face: {{entity['angry']}}</p>
      <p>suprise Likelihood for Face: {{entity['suprise']}}</p>
{% endif %}
  </body>
</html> 
