<html>
{% extends "layout.html" %}
{% block content %}
<h5 style=" color:red">Homepage <a href="{{ url_for('home') }}">Here </a></h5>
<h2 style="text-align:center; color:red">Youtube Comment Analysis </h2>
    <form action="{{ url_for('analyse_comments') }}" method=post>
        <p class="heading" style="color:red">Video Name: <input type=text name=name>
        <p><input type=submit value=submit></p>
  </form>
  {% if comment_analysis %}
  {% for entry in comment_analysis.iteritems() %}
        <p class=entry>
          <br>Video Name: {{entry}}</br>
           <br>Score: {{entry["Score"]}}</br>
            <br>Magnitude: {{entry["Magnitude"]}}</br>
        </p>
{% endfor %}
{%endif %}
{% endblock %}
</html>
